body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url("https://cdn.unasp.br/unasp-colegio/2020/05/Fotos-Institucionais-20-scaled.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img { 
    width: 300px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 10px auto;
}
.apresentacao {  
    background-color: rgba(69, 76, 87, 0.788); 
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(124, 40, 40, 0.2);
}
.pergunta1 { 
    background-color: rgba(59, 66, 77, 0.897); 
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.pergunta2 { 
    background-color: rgba(58, 61, 70, 0.842); 
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 100%;
    
}
.pergunta3 {
    background-color: rgba(58, 61, 70, 0.842); 
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 100%;

}
.apresentacao, .pergunta1, .pergunta2, .pergunta3 {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
}   
.pergunta1:hover p,
.pergunta2:hover p,
.pergunta2:hover ul,
.pergunta2:hover img
.pergunta3:hover p,
.pergunta3:hover ul,
.pergunta3:hover img {
 opacity: 1;
}
.pergunta2 li img {
    opacity: 0;
    transform: scale(0.8);
    transition: 0.3s;
}

.pergunta2 li:hover img {
    opacity: 1;
    transform: scale(1);
}
.pergunta3 img {
    opacity: 0;
    transform: scale(0.8);
    transition: 0.3s;
}
.pergunta3:hover img {
    opacity: 1;
    transform: scale(1);
}
.botao {
    background: #000000b6;
    color: rgb(185, 22, 22);
    padding: 10px 20px;
    border-radius:15px;
    transition: 0.1s;
}

.botao:active {
    transform: scale(0.95);
}
