body {
    background-image: url(https://cdn.unasp.br/unasp-colegio/2020/05/Fotos-Institucionais-20-scaled.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div {color:rgb(178, 207, 10)}